*,*::after,*::before {
    box-sizing: border-box;
}
:root{
/* Primary */

--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/* Neutral */

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}
.body{
    background-image: url(/assets/img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display',sans-serif;
}
.order-card,
.order-plan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-card{
    max-width: 320px;
    width: 100%;
    margin: 25vh auto;
    background-color: var(--Very-pale-blue);
    flex-direction: column;
    align-content: center;
    border-radius: 1.5rem;
    overflow: hidden;
}
.order-img{
    max-width: 100%;
}
.order__header{
    text-align: center;
}
.order-title{
    font-weight: 900;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--Dark-blue);
}
.order-description{
    font-weight: 500;
    max-width: 80%;
    margin: 1em auto;
    line-height: 1.5em;
    color: var(--Desaturated-blue);
}
.order-plan{
    background-color: var(--Pale-blue);
    margin-top: 0;
    padding: 0.5em;
    border-radius: 15px;
    justify-content: center;
}
.plan{
    background-color: rgb(255, 255, 255);
    margin-left: 1em;
    margin-right: 3em;
}
.plan h2{
    font-size: 0.9em;
    margin: 0%;
}
.btm-a{
    display: block;
    text-align: center;
    text-decoration: none;
}