*{
    box-sizing: border-box;
}
:root{
/* Primary */
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
/* Neutral */
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}
.body{
    background-image:url(/assets/img/pattern-background-mobile.svg);
    background-color: var(--Pale-blue);
    background-position:100% -3%;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display',sans-serif;
}
.order-card,
.order-plan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-card{
    max-width: 320px;
    width: 100%;
    margin: 8vh auto;
    background-color: #ffffff;
    flex-direction: column;
    align-content: center;
    border-radius: 1.2rem;
    overflow: hidden;
}
.order-img{
    max-width: 100%;
}
.order__header{
    text-align: center;
}
.order-title{
    font-weight: 900;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--Dark-blue);
}
.order-description{
    font-size: 0.98em;
    font-weight: 500;
    max-width: 85%;
    margin: 1em auto 1.4em auto;
    line-height: 1.7em;
    color: var(--Desaturated-blue);
}
.order-plan{
    background-color: hsla(224, 23%, 55%, 0.055);
    font-size: 1em;
    margin-top: 0;
    padding: 0.95em;
    border-radius: 0.65rem;
}
.order-plan a{
    font-size: 0.8em;
    font-weight: 700;
    color: var(--Bright-blue);
}
.order-plan span{
    font-size: 0.9em;
    font-weight: 500;
    color: var(--Desaturated-blue);
}
.plan{
    margin-left: 1.23em;
    margin-right: 3em;
}
.plan h2{
    font-size: 0.9em;
    margin: 0%;
}
.btm-a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em;
}
.payment-link{
    color: var(--Pale-blue);
    background-color: var(--Bright-blue);
    margin: 1.5em auto 0.5em auto;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(162, 163, 255);
}
.cancel-link{
    color: var(--Desaturated-blue);
    font-weight: 900;
    margin: 0.5em auto 1em auto;
}

@media(min-width: 768px){
    .body{
        background-image: url(/assets/img/pattern-background-desktop.svg);
        background-color: var(--Pale-blue);
        background-position: 100% -15%;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .order-card{
        max-width: 450px;
        margin: 16vh auto;
    }
    .order-title{
        margin-top: 1.8em;
        font-size: 1.8em;
    }
    .order-description{
        width: 70%;
        font-size: 1em;
    }
    .plan{
        margin-right: 8.3em;
        margin-left: 0.5em;
    }
    .order-plan{
        /* width: 100%; */
        padding: 1.2em;
        margin-bottom: 2em;
    }
    .btm-a {
        padding:0.92em ;
    }
    .payment-link{
        margin-bottom: 1em;
    }
    .cancel-link{
        margin-bottom:2em ;
    }
    .payment-link:hover{
        background-color: hsl(256, 77%, 66%);
    }
    .cancel-link:hover{
        color: black;
    }
    .order-plan a:hover{
      color:hsl(256, 77%, 66%);
    }
}